<div style="width: 200%; margin-left: -50%;">

<a href="./gallery" style="position: relative; text-decoration: none;">
    <img src="./images/esmeralda.jpg" style="max-width: 300px;">
    <span style="position: absolute; left: 100px; top: -75px; color: white;">
        Illustration
    </span>
</a>

<a href="./writing" style="position: relative; text-decoration: none;">
    <img src="./images/esmeralda.jpg" style="max-width: 300px;">
    <span style="position: absolute; left: 100px; top: -75px; color: white;">
        Copywriting
    </span>
</a>

</div>