<div style="width: 200%; margin-left: -50%;">

<a href="./gallery" style="position: relative; text-decoration: none;">
    <img src="./images/front_page_images01.jpg" style="max-width: 300px;">
    <span style="position: absolute; left: 75px; top: -160px; color: white; font-size: 1.5em;">
        Illustration
    </span>
</a>

<a href="./writing" style="position: relative; text-decoration: none;">
    <img src="./images/front_page_images02.jpg" style="max-width: 300px;">
    <span style="position: absolute; left: 70px; top: -160px; color: white; font-size: 1.5em;">
        Copywriting
    </span>
</a>

</div>