
<article class="bb b--black-10">
    <div class="db pv4 ph3 ph0-l no-underline dark-gray">
      <div class="flex flex-column flex-row-ns">
          <div class="pl3-ns mb4 mb0-ns w-100 w-40-ns">
            <a href="https://www.mag-north.com/posts/natural-beauty-industrial-archaeology-the-bollington-walking-festival" class="db grow">
              <img src="../images/walking_festival.jpg" class="img" alt="image from Title">
            </a>
          </div>
        <div class="blah w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 athelas mt0 lh-title">
            <a href="https://www.mag-north.com/posts/natural-beauty-industrial-archaeology-the-bollington-walking-festival" class="color-inherit dim link">
              Natural Beauty, Industrial Archaeology: The Bollington Walking Festival
              </a>
          </h1>
          <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
            There are few better ways to conclude an eleven-mile walk than sitting on a leafy riverside patio eating a homemade macaron.

            This was where I found myself after my first participation in the 12th Bollington Walking Festival.
          </div>
            <a href="https://www.mag-north.com/posts/natural-beauty-industrial-archaeology-the-bollington-walking-festival" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">
                Read More
            </a>
        </div>
      </div>
    </div>
  </article>

<article class="bb b--black-10">
    <div class="db pv4 ph3 ph0-l no-underline dark-gray">
      <div class="flex flex-column flex-row-ns">
          <div class="pl3-ns mb4 mb0-ns w-100 w-40-ns">
            <a href="https://lizziwake.wordpress.com/2022/09/23/the-four-passes-five-years-on/" class="db grow">
              <img src="../images/four_passes.jpg" class="img" alt="image from Title">
            </a>
          </div>
        <div class="blah w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 athelas mt0 lh-title">
            <a href="https://lizziwake.wordpress.com/2022/09/23/the-four-passes-five-years-on/" class="color-inherit dim link">
              The Four Passes - five years on…
              </a>
          </h1>
          <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
            It’s been five years since Liz last entered the Lakeland Four Passes, and she’s decided it’s time to give it another go. It’s a chance to measure up against her younger self. A chance that almost didn’t happen, for two reasons:
          </div>
            <a href="https://lizziwake.wordpress.com/2022/09/23/the-four-passes-five-years-on/" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">
                Read More
            </a>
        </div>
      </div>
    </div>
  </article>

<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
        <div class="pl3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="../samples/sample-1" class="db grow">
            <img src="../images/fields.jpg" class="img" alt="image from Title">
          </a>
        </div>
      <div class="blah w-100 w-60-ns pl3-ns">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="../samples/sample-1" class="color-inherit dim link">
            How to Pack for a UK Summer Walking Holiday
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          So you’ve chosen your UK summer walking destination, everything’s booked, and all that’s left to do is pack! And that’s when the dread hits you. What if you forget something? What if you can’t fit everything in? What if you get halfway up a mountain and realise you did need the kitchen sink after all?
        </div>
          <a href="../samples/sample-1" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">
              Read More
          </a>
      </div>
    </div>
  </div>
</article>

<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
        <div class="pl3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="../samples/sample-2" class="db grow">
            <img src="../images/paper.jpg" class="img" alt="image from Title">
          </a>
        </div>
      <div class="blah w-100 w-60-ns pl3-ns">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="../samples/sample-2" class="color-inherit dim link">
            Eco-Friendly Bullet Journal
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          The Eco-Friendly Bullet Journal is the beautiful, ethically-produced notebook you’ve been searching for. Create without limits Our 160gsm paper lets you go wild with decoration. And with our wide range of colours and designs, you can choose a journal that inspires you whenever you look at it.
        </div>
          <a href="../samples/sample-2" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">
              Read More
          </a>
      </div>
    </div>
  </div>
</article>

<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
        <div class="pl3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="../samples/sample-3" class="db grow">
            <img src="../images/email_sample.jpg" class="img" alt="image from Title">
          </a>
        </div>
      <div class="blah w-100 w-60-ns pl3-ns">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="../samples/sample-3" class="color-inherit dim link">
            Ballerina Bambinos: New Online Class for Toddlers
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          Hello John!

I hope your summer’s been fun, and that you’re surviving the chaos of back-to-school season.
We know this can be a stressful time, so we’ve put together a treat for you and your little one - that doesn’t involve yet another car trip!
        </div>
          <a href="../samples/sample-3" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">
              Read More
          </a>
      </div>
    </div>
  </div>
</article>